<form id="login" class="" method="post">
  <input type="email" name="email" placeholder="email" autocomplete="off">
  <br><br>
  <input type="password" name="password" placeholder="contraseña">
  <input type="submit"  value="Login">

</form>
<script>
  const form = document.querySelector("#login");
  const formData = new FormData(form);

  form.addEventListener('submit', event =>
  {
    event.preventDefault();
    fetch('/api/signin',
    {
      method: 'POST',
      body: formData
    })
    .then(res => res.json())
    .then(data =>
      {
        localStorage.setItem('token',data.token)
      })
  })
</script>
